name: system_tray_macos
description: A system tray flutter plugin for macos 
issue_tracker: https://github.com/unitedideasco/system_tray/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+system_tray%22
repository: https://github.com/unitedideasco/system_tray/
version: 0.0.1
homepage: https://unitedideas.co

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

flutter:
  plugin:
    implements: system_tray_platform_interface
    platforms:
      macos:
        pluginClass: SystemTrayPlugin

dependencies:
  flutter:
    sdk: flutter
  # The implementation of this plugin doesn't explicitly depend on the method channel
  # defined in the platform interface.
  # To prevent potential breakages, this dependency is added.
  #
  # In the future, this plugin's platform code should be able to reference the
  # interface's platform code. (Android already supports this).
  system_tray_platform_interface: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0